footer{
background-color: rgba(17, 17, 17, 0.808);  
font-family: 'Exo 2', sans-serif;
margin: 30px;

  h3{
      text-align: center;
  }
  p{
      text-align: center;
  }
  a{
      color: white;
  }
}