
@media screen and (min-width:360px) and (max-width:500px){
    

.grdd1{
    margin: 30px;
    padding: 40px;
 .grid div{
    padding: 2px;
 }
 
 .grid{
     display: grid;
    grid-template-columns: repeat(1, 1fr);
     grid-auto-rows: minmax(100px, auto);
     gap: 3px;
 }
 
 }

.descrip1{
    h2{
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Bebas Neue', cursive;
    }
    p{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
    }
}


}



@media screen and (min-width:700px) and (max-width:920px){
    

    .grdd1{
        margin: 30px;
        padding: 40px;
     .grid div{
        padding: 2px;
     }
     
     .grid{
         display: grid;
        grid-template-columns: repeat(2, 1fr);
         grid-auto-rows: minmax(100px, auto);
         gap: 3px;
     }
     
     }
    
    .descrip1{
        h2{
            text-align: center;
            color: white;
            font-size: 30px;
            font-family: 'Bebas Neue', cursive;
        }
        p{
            text-align: center;
            color: white;
            font-size: 20px;
            font-family: 'Bebas Neue', cursive;
        }
    }
    
    
    }
    

@media screen and (min-width:360px)and(max-width:500px){
    

.grd1{
    margin: 25px;
    padding: 4px;
    h3{
        font-size: 20px;
        color: white;
        font-family: 'Bebas Neue', cursive;
        padding: 7px;
    }
    h3:hover{
        color: rgb(0, 53, 53);
    }
 .grid div{
    padding: 4px;
 }
 
 .grd1 img{
     border-style: groove;
 }
 .grid{
     display: grid;
    grid-template-columns: repeat(1, 1fr);
     grid-auto-rows: minmax(100px, auto);
     gap: 3px;
 }
 
 }
 
 }

 
@media screen and (min-width:700px)and(max-width:920px){
    

    .grd1{
        margin: 25px;
        padding: 4px;
        h3{
            font-size: 20px;
            color: white;
            font-family: 'Bebas Neue', cursive;
            padding: 7px;
        }
        h3:hover{
            color: rgb(0, 53, 53);
        }
     .grid div{
        padding: 4px;
     }
     
     .grd1 img{
         border-style: groove;
     }
     .grid{
         display: grid;
        grid-template-columns: repeat(2, 1fr);
         grid-auto-rows: minmax(100px, auto);
         gap: 3px;
     }
     
     }
     
     }